<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0
               }">
  <em class="text-muted pull-right">{{ post.postedDate | date: "MM/dd/yyyy, hh:mm a"  }}</em>
  <h4 [ngStyle]="{color: getPostColor()}">{{ post.title }}</h4>
  <div  [ngStyle]="{color: getPostColor()}">{{ post.content }}</div>
  <button class="btn btn-success" (click) ="onLoveIt(true)">Love it</button>&nbsp;
  <button class="btn btn-danger" (click) ="onLoveIt(false)">Don't love it</button>
  <button class="btn btn-danger pull-right" (click)="onDeletePost()">Supprimer post</button>
</li>